.hizalama{
  text-align: center;
  text-decoration: dashed;
  font-style: oblique;
}

body{
    background-color: rgba(73, 157, 156, 0.688);
}
.div1{
    float: right;
}

.div2{
    float: left;
}
p ,h1,h2,h3,#sonuc{
    color: aliceblue;
}
#yazi{
    margin:80px auto;
    padding:20px;
    width: 300px;
    font-size:25px;
    background:rgba(73, 157, 156, 0.688);
    color:#ecf0f1;
    border: solid 3px rgba(73, 157, 156, 0.688);
}
#yazi{
    margin:80px auto;
    padding:20px;
    width: 300px;
    font-size:25px;
    background: #34495e;
    color:#ecf0f1;
    border: solid 3px #16a085;
}
